<!-- this is where the users cart -->

{% extends "base.html" %}
{% load static %}

{% block loadjs %}
<script src="{% static 'scripts/cart.js' %}"></script>
{% endblock %}
{% block content %}

<div class="cart-container">

	<div class="cart-heading">
		<h1 id="cart-h1">
			<span class="shopper">s</span> Burger Cart
		</h1>

		<a href="{% url 'store' %}" class="visibility-cart transition is-open">X</a>
	</div>

	<div class="cart transition is-open">

		<div class="table">
			<!-- this is like a header for the table. If the order is adjusted here, adjust the next part to sync-->
			<div class="layout-inline row th">
				<div class="col col-pro">Product</div>
				<div class="col col-price align-center ">
					Price
				</div>
				<div class="col col-qty align-center">QTY</div>
				<div class="col">Total</div>
			</div>

			<!-- this is where the item information is displayed. It needs to follow the order laid out above -->
			{% for item in items %}
			<div class="layout-inline row">

				<div class="col col-pro layout-inline">
					<img class="thumbnail" src="{{item.product.imageURL}}" alt="delicious burger" />
					<p>{{item.product.name}}</p>
				</div>

				<div class="col col-price col-numeric align-center ">
					<p>£{{item.product.price|floatformat:2}}</p>
				</div>

				<div class="col col-qty layout-inline">
					<p data-product="{{item.product.id}}" data-action="remove" 
						class="qty qty-minus chg-quantity update-cart">-</p>
					<input type="numeric" value={{item.quantity}} />
					<p data-product="{{item.product.id}}" data-action="add" 
						class="qty qty-plus chg-quantity update-cart">+</p>
				</div>				


				<div class="col col-total col-numeric">
					<p> £ {{item.get_total|floatformat:2}}</p>
				</div>
			</div>
			{% endfor %}

			<!-- this sits at the bottom and calculates the grand totals  -->
			<div class="tf">

				<div class="row layout-inline">
					<div class="col">
						<p class="cart-end">Total £ {{order.get_cart_total|floatformat:2}}</p>
					</div>
					<div class="col"></div>
				</div>
			</div>
		</div>

		<a href="{% url 'checkout' %}" class="cart-btn btn-update">Proceed to checkout</a>
	</div>

<!-- CI stuff below, commented out as didn't mesh with existing website
	<div class="overlay"></div>
<div class="container bg-white">

    <div class="row">
        <div class="col">
            <h2 class="text-center bg-white p-2 font-weight-bold text-black"> Shopping cart</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table table-sm bg-white">
                    <thead>
                      <tr>
                        <th></th>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Product Info</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Total</th>
                      </tr>
                    </thead>
                    <div>
                    {% for item in cart_items %}
                    <tr>
                        <th></th>
                        <td class="p-ml-3 w-25"><img class="img-fluid rounded" src="{{ item.product.image.url }}"></td>
                        <td class="p-ml-3 w-25">
                            <p class="my-0"><strong>{{item.product.name}}</strong></p>
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="p-ml-3 w-25">
                            <form class="form update-form" action="{% url 'update_cart' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend col-12 col-md-5 col-lg-4 col-xl-3">
                                            <button class="decrement-qty btn-sm btn btn-black rounded-0" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input col-xl-3 col-lg-4 col-md-10 col-sm-9 col-10" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append col-12 col-md-2">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                            {% if item.variation %}
                                            <input type="hidden" name="variation" value="{{ item.variation.name|lower }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info p-1"><small>Update</small></a>
                            <a class="remove-item text-danger p-1" id="remove_{{ item.item_id }}" data-variation="{{ item.variation }}"><small>Remove</small></a>
                        </td> 
                        <td class="p-ml-3 w-25"> <p class="text-center">€{{ item.product.price }}</p></td>
                    </tr> 
                
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-3 text-right">
                            <h6><strong>cart Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6><strong>Delivery:</strong></h6>
                                <p>
                                    {% if free_delivery_delta > 0 %}
                                        €{{ delivery_charge|floatformat:2 }}
                                    {% else %}
                                        FREE
                                    {% endif %}
                                </p>
                            </div>

                        </td>
                    </tr>   
                    <tr>
                        <td colspan="5" class="pt-5 pb-2 text-right">
                            <h6><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h6>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-info"><i class="fas fa-ghost"></i>
                                Free delivery if you spend <strong>€{{ free_delivery_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p> No items in your cart yet</p>
            <a href="{% url 'store' %}" class="btn btn-outline-black rounded-0 mt-5">
                <span class="icon">
                    <i class="fas fa-chevron-left">Start Shopping</i>
                </span>
            </a>
            {% endif %}
        </div>
    </div> -->

</div>
	{% endblock %}