<!-- this is where the products are displayed -->

{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container ">

  <div class="row">
    {% for product in products %}

    <div class="col-lg-4">

      <div class="card" style="width: 20rem; ">

        <!-- NB the below references the property decorator found in store/models.py, and NOT the static/images folder as is more conventional -->
        <!-- the reason for this is to work around having a faulty image. 
	Using direct linkage to the static/images was resulting in an app crash if there  was a missing/faulty image -->
        <img src="{{product.imageURL}}" class="card-img-top thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}} </h5>

          <button class="btn btn-outline-success">
            Add to Cart
          </button>

          <!-- below to hide the product description until the user clicks view -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button btn btn-outline-success" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  View
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>{{product.description}} Yum!</strong>
                </div>
              </div>
            </div>
          </div>

          <h4><strong>£{{product.price|floatformat:2}}</strong></h4>
        </div>
      </div>

    </div>

    <!-- if last column in row -->
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
  </div>
  <div class="row">
    {% endif %}

    {% endfor %}
  </div>


  {% endblock %}